.app-container {
  display: flex;
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
}

.main-banner {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  opacity: 50%;
  background: linear-gradient(black, 60%, #242424);
  width: 100%;
  height: 75px;
}

.banner-words {
  cursor: pointer;
}

.login-container, .login-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  
}

.prompt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}